
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #4682B4;
}
  header {
    background-color: #A4BBC2;
    padding: 5px;
  }
  h1 { 
    font-family: 'Montserrat';
    color: green;
  }
  ul.black{
    color: #4682B4;
  }
  header ul {
    float: center;
    color: green;
    padding: 5px;
  }
  header li {
    display: inline-block;
    padding: 0px 0px;
  }
  header p {
    display: inline-block;
  }

  jumbotron {
    margin: 0 auto;
  }
  .content {
    margin: auto;
    width: 1000px;
    height: 400px;
    display: flex;
    justify-content: center;
  }
    
  .cardContainer {
    margin-bottom: 15px;
  }
    .card {
        margin: 0 auto;
      }
      * {
        box-sizing: border-box;
      }
      body {
          font: 1rem/1.5 var(--bs-font-sans-serif);
        }
      a {
          color: #4682B4;
        }

    .column {
        float: left;
        width: 25%;
        padding: 0 10px;
      }
      .row {
      margin: 0 -5px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
      }
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
      }
      
      h4 { 
        font-family: 'Montserrat';
        color: #191970;
      }
  
     .img1 {
    grid-area: img1;
  }
     .img2 {
    grid-area: img2;
  }
     .img3 {
    grid-area: img3;
  }
     .img4 {
    grid-area: img4;
  }
     .img5 {
    grid-area: img5;
  }
  
     .img1, .img2, .img3, .img4, .img5, .content1, .content2, .content3 {
    padding: 25px;
  }
     .content1 {
    grid-area: content1;
  }
     .content2 {
    grid-area: content2;
  }
     .content3 {
    grid-area: content3;
  }

  /*Responsive Styles*/
  @media screen and (min-width:650px){
    header, footer {
        text-align: center;
    }
    .project-item img {
        float: left;
        margin-right: 40px;
    }
    .content1, .content2, .content3 {
        display:grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:649px){
    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
    .contact-list a {
         padding: 5px;
    }
}